<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>spring-boot-demo-task-quartz</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.9/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.5.17/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.9/index.js"></script>
    <style>
        #top {
            padding: 5px;
        }
    </style>
</head>
<body>
<div id="job">
    <div id="top">
        <el-button size="small" type="primary" plain @click="search" :loading="loading" icon="el-icon-search">查询
        </el-button>
        <el-button size="small" type="primary" plain @click="handleadd" icon="el-icon-plus">添加任务</el-button>
        <el-button size="small" type="primary" plain @click="handleAddDubbo" icon="el-icon-plus">添加RPC任务</el-button>
    </div>
    <br/>
    <div>
        <el-table ref="jobTable" :data="tableData" style="width:100%" border center>
            <el-table-column prop="jobDescription" label="任务描述" show-overflow-tooltip
                             align="center"></el-table-column>
            <el-table-column prop="jobName" label="任务名称" align="center"></el-table-column>
            <el-table-column prop="jobGroup" label="任务所在组" sortable align="center"></el-table-column>
            <el-table-column prop="jobClassName" label="任务类名" align="center"></el-table-column>
            <el-table-column prop="triggerName" label="触发器名称" align="center"></el-table-column>
            <el-table-column prop="triggerGroup" label="触发器所在组" sortable align="center"></el-table-column>
            <el-table-column prop="cronExpression" label="表达式" align="center"></el-table-column>
            <el-table-column prop="timeZoneId" label="时区" align="center"></el-table-column>
            <el-table-column prop="triggerState" label="状态" align="center" :formatter="formatState"></el-table-column>
            <el-table-column label="操作" width="300" align="center">
                <template scope="scope">
                    <el-button size="small" type="warning" @click="handlePause(scope.$index, scope.row)">暂停
                    </el-button>
                    <el-button size="small" type="info" @click="handleResume(scope.$index, scope.row)">恢复</el-button>
                    <el-button size="small" type="danger" @click="handleDelete(scope.$index, scope.row)">删除
                    </el-button>
                    <el-button size="small" type="success" @click="handleUpdate(scope.$index, scope.row)">修改
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <div align="center">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="pagesize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="totalCount">
            </el-pagination>
        </div>
    </div>

    <!-- 添加任务对话框 -->
    <el-dialog title="添加任务" :visible.sync="dialogFormVisible">
        <el-form :model="form">
            <el-form-item label="任务名称" label-width="100px" style="width:90%">
                <el-input v-model="form.jobName" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="任务分组" label-width="100px" style="width:90%">
                <el-input v-model="form.jobGroup" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="表达式" label-width="100px" style="width:90%">
                <el-input v-model="form.cronExpression" auto-complete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="add">确 定</el-button>
        </div>
    </el-dialog>

    <!-- 修改任务对话框 -->
    <el-dialog title="修改任务" :visible.sync="updateFormVisible">
        <el-form :model="updateform">
            <el-form-item label="表达式" label-width="100px" style="width:90%">
                <el-input v-model="updateform.cronExpression" auto-complete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="updateFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="update">确 定</el-button>
        </div>
    </el-dialog>

    <!-- 添加RPC任务对话框 -->
    <el-dialog title="添加RPC任务" :visible.sync="dubboDialogVisible" width="600px">
        <el-form :model="dubboForm" label-width="120px">
            <el-form-item label="任务描述">
                <el-input v-model="dubboForm.jobDescribe"></el-input>
            </el-form-item>
            <el-form-item label="任务组名">
                <el-input v-model="dubboForm.jobGroupName"></el-input>
            </el-form-item>
            <el-form-item label="Cron表达式">
                <el-input v-model="dubboForm.cronExpression"></el-input>
            </el-form-item>
            <el-form-item label="接口名">
                <el-input v-model="dubboForm.interfaceName"></el-input>
            </el-form-item>
            <el-form-item label="方法名">
                <el-input v-model="dubboForm.methodName"></el-input>
            </el-form-item>
            <el-form-item label="参数类型">
                <el-input v-model="dubboForm.paramTypes" placeholder="用逗号分隔，如 java.lang.String,int"></el-input>
            </el-form-item>
            <el-form-item label="参数值">
                <el-input v-model="dubboForm.paramValues" placeholder="用逗号分隔"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dubboDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="addDubbo">确 定</el-button>
        </div>
    </el-dialog>
</div>

<footer align="center">
    <p>&copy; Quartz 定时任务管理</p>
</footer>

<script>
    var vue = new Vue({
        el: "#job",
        data: {
            tableData: [],
            url: 'job',
            pagesize: 10,
            currentPage: 1,
            totalCount: 1000,
            dialogFormVisible: false,
            updateFormVisible: false,
            dubboDialogVisible: false,
            loading: false,
            form: {
                jobName: '',
                jobGroup: '',
                cronExpression: ''
            },
            updateform: {
                jobName: '',
                jobGroup: '',
                cronExpression: ''
            },
            dubboForm: {
                jobDescribe: '',
                jobGroupName: '',
                cronExpression: '',
                interfaceName: '',
                methodName: '',
                paramTypes: '',
                paramValues: ''
            }
        },
        methods: {
            formatState: function (row) {
                if (row.triggerState === 'WAITING' || row.triggerState === 'ACQUIRED') return "运行中";
                if (row.triggerState === 'PAUSED') return "暂停";
                return "未知状态";
            },
            loadData: function (currentPage, pageSize) {
                this.loading = true;
                this.$http.get('job?' + 'currentPage=' + currentPage + '&pageSize=' + pageSize).then(res => {
                    this.tableData = res.body.data.data;
                    this.totalCount = res.body.data.total;
                    this.loading = false;
                }, () => {
                    console.log('failed');
                    this.loading = false;
                });
            },
            handleDelete: function (index, row) {
                this.$http.delete('job', {
                    params: {
                        jobClassName: row.jobName,
                        jobGroupName: row.jobGroup
                    }
                }, {emulateJSON: true})
                    .then(res => {
                        this.loadData(this.currentPage, this.pagesize);
                    }, () => console.log('failed'));
            },
            handlePause: function (index, row) {
                this.$http.put('job?pause', {
                    jobClassName: row.jobName,
                    jobGroupName: row.jobGroup
                }, {emulateJSON: true})
                    .then(res => {
                        this.loadData(this.currentPage, this.pagesize);
                    }, () => console.log('failed'));
            },
            handleResume: function (index, row) {
                this.$http.put('job?resume', {
                    jobClassName: row.jobName,
                    jobGroupName: row.jobGroup
                }, {emulateJSON: true})
                    .then(res => {
                        this.loadData(this.currentPage, this.pagesize);
                    }, () => console.log('failed'));
            },
            search: function () {
                this.loadData(this.currentPage, this.pagesize);
            },
            handleadd: function () {
                this.dialogFormVisible = true;
            },
            add: function () {
                this.$http.post('job', {
                    jobClassName: this.form.jobName,
                    jobGroupName: this.form.jobGroup,
                    cronExpression: this.form.cronExpression
                }, {emulateJSON: true})
                    .then(res => {
                        this.loadData(this.currentPage, this.pagesize);
                        this.dialogFormVisible = false;
                    }, () => console.log('failed'));
            },
            handleUpdate: function (index, row) {
                this.updateFormVisible = true;
                this.updateform.jobName = row.jobName;
                this.updateform.jobGroup = row.jobGroup;
            },
            update: function () {
                this.$http.put('job?cron', {
                    jobClassName: this.updateform.jobName,
                    jobGroupName: this.updateform.jobGroup,
                    cronExpression: this.updateform.cronExpression
                }, {emulateJSON: true})
                    .then(res => {
                        this.loadData(this.currentPage, this.pagesize);
                        this.updateFormVisible = false;
                    }, () => console.log('failed'));
            },
            handleSizeChange: function (val) {
                this.pagesize = val;
                this.loadData(this.currentPage, this.pagesize);
            },
            handleCurrentChange: function (val) {
                this.currentPage = val;
                this.loadData(this.currentPage, this.pagesize);
            },

            // RPC 任务相关
            handleAddDubbo: function () {
                this.dubboDialogVisible = true;
                this.dubboForm = {
                    jobDescribe: '',
                    jobGroupName: '',
                    cronExpression: '',
                    interfaceName: '',
                    methodName: '',
                    paramTypes: '',
                    paramValues: ''
                };
            },
            addDubbo: function () {
                let paramTypesArr = this.dubboForm.paramTypes ? this.dubboForm.paramTypes.split(',') : [];
                let paramValuesArr = this.dubboForm.paramValues ? this.dubboForm.paramValues.split(',') : [];
                this.$http.post('/add_dubbo', {
                    jobDescribe: this.dubboForm.jobDescribe,
                    jobGroupName: this.dubboForm.jobGroupName,
                    cronExpression: this.dubboForm.cronExpression,
                    interfaceName: this.dubboForm.interfaceName,
                    methodName: this.dubboForm.methodName,
                    paramTypes: paramTypesArr,
                    paramValues: paramValuesArr
                }, {emulateJSON: true}).then(res => {
                    this.$message.success('RPC任务添加成功');
                    this.dubboDialogVisible = false;
                    this.loadData(this.currentPage, this.pagesize);
                }, err => {
                    console.error(err);
                    this.$message.error('RPC任务添加失败');
                });
            }
        }
    });

    // 载入数据
    vue.loadData(vue.currentPage, vue.pagesize);
</script>
</body>
</html>
